.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo-link {
    margin-right: 600px; /* Adjust the spacing between the logo and the name */
}

.logo {
    width: 50px;
    height: 40px;
}

.brand-name {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s;
}

.brand-name:hover {
    color: #ddd;
}
